<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="containersalida"> 
                <div class="row">
                    <div class="containeroptions">
                        <button mat-stroked-button>Reimprimir Ticket</button>
                        <button mat-stroked-button>Facturar Ticket</button>
                        <button mat-stroked-button>Imprimir Registro</button>
                    </div>
                </div>
                <div class="containerregistro">
                    <mat-card>

                    </mat-card>
                </div>
                <div class="totalcontainer">
                    <div class="row total">
                        <div class="col-md-6">TOTAL</div>
                        <div class="col-md-6">$25.62</div>
                    </div>
                </div>
                <div class="row">
                    <div class="inputcontainer">
                        <mat-form-field>
                            <input type="text" matInput>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

