.containersalida{
    display: flex;
    flex-direction: column;
}
.containeroptions{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 10px;
}
button{
    width: 12rem;
    padding: 2px;
    height: 3rem;
}
.total{
    display: flex;
    width: 85%;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;

}
/* .inputcontainer{
 
} */
mat-card{
    height: 65vh;
    width: 85%;
}