.containeroptions{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
button{
    width: 12rem;
    padding: 2px;
    height: 3rem;
}
.total{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 15vh;
}
.inputcontainer{
    position: absolute;
    bottom: 8vh;
}