.col-sm-6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 12%;

}
table{
    width: 70vw;
    justify-content: center;
    align-items: center;
}
.othercolor{
    background-color: #598381;
}
button{
    margin: 10px;
}