
<div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="containerform"> 
            <div class="formemailcontainer">
                <div class="row">
                  <mat-card (keyup.enter)="addInventario()">
                    <form [formGroup]="form">
                      <mat-form-field class="productos" appearance="outline">
                        <mat-label>Productos</mat-label>
                        <mat-select formControlName="fK_IdProducto" >
                          <mat-option [value]="item.idProducto" *ngFor="let item of Productos" (click)="getProducto(item)" >{{item.idProducto | ProductName : Productos}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field class="descripcion" appearance="outline">
                        <mat-label >Descripcion</mat-label>
                        <input #descripcion matInput readonly [value]="producto?.p_Descripcion">
                      </mat-form-field>
                      <mat-form-field class="cantidad" appearance="outline">
                        <mat-label>Cantidad</mat-label>
                        <input type="number" matInput formControlName="p_Existencia">
                      </mat-form-field>
                      <mat-form-field class="cantidad" appearance="outline">
                        <mat-label>Inventario Minimo</mat-label>
                        <input type="number" matInput formControlName="p_InventarioMinimo">
                      </mat-form-field>
                    </form>
                    <button class="btnadd" mat-stroked-button (click)="addInventario()">
                      Agregar 
                    </button>
                  </mat-card>
                </div>
            </div>
        </div>
        <div class="inventariocontainer">
          <mat-card>
            <table></table>
          </mat-card>
        </div>
      </div>
    </div>
</div>
