
<div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="containerform"> 
            <div class="formemailcontainer">
                <div class="row">
                  <mat-card>
                    <form>
                      <mat-form-field appearance="outline">
                        <mat-label>Productos</mat-label>
                        <mat-select>
                          <mat-option *ngFor="let item of Productos">{{item.idProducto | ProductName : Productos}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>Descripcion</mat-label>
                        <input matInput >
                      </mat-form-field>
                    </form>
                  </mat-card>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
